/.idea/.idea.AudioGraphExtensions/
/.vs/AudioGraphExtensions/
/AudioGraphExtensions/bin/
/AudioGraphExtensions/obj/
/UnitTestProjectMsTest/bin/
/UnitTestProjectMsTest/obj/
/Demo_UWP/bin/
/Demo_UWP/obj/
